a:hover {
  color: #aab8c2;
}

.nav-wrapper {
  background-color: white;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  padding: 4em 0 2em 0;
}

.brand-logo {
  flex: 1;
  float: left;
  font-size: 2vw;
  color: #657786;
  text-decoration: none;
}

.btn-twitter {
  display: inline-flex;
  background-color: #1da1f2;
  float: right;
  font-size: 1.2vw;
  align-items: center;
  padding-left: 7em;
  height: 3em;
  width: 7em;
  padding-right: 5em;
  text-decoration: none;
  border-radius: 8px;
}

.fa-twitter {
  align-items: center;
  padding: 1em;
  display: inline-flex;
}
